.icon {
    width: 40px;      /* намалени икони */
    height: 40px;
    transition: transform 0.25s ease-in-out; /* за убав hover ефект */
}

.icon:hover {
    transform: scale(1.25);
    filter: brightness(1.2);  /* малку посветли при hover */
}
